@import "https://fonts.googleapis.com/css2?family=Roboto:wght@800&family=Staatliches&display=swap";


.CardHeaderDetails {
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    font-size: 1.2rem;
    color: white;
    background-color: rgba(45, 43, 43, 0.9215686275);
    border: 1px solid rgb(246, 207, 207);
    height: 50px;
    padding: auto;
    text-align: center;
    padding-top: 15px;
    justify-content: center;
}

.fotosProductosDetails {
    margin-top: 20px;
    width: 100%;
    height: 60%;
    border: 1px solid rgb(246, 207, 207);
}

.InfoDetails {
    color: #000;
    font-size: 1.2rem;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
}

.SectionDetails {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    margin-top: 10px;
}

.CardItemDetails {
    background-color: rgb(220, 152, 152);
    border: 2px solid black;
    margin: 10%;
    padding: 5%;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}