.ItemDetailContainer{
    display: inline-block;
    margin-top: 120px;
    margin-bottom: 20px;
    width: 100%;
}

.ItemDetailDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
    height: 60%;
    margin-right: auto;
    margin-left: auto;
}