header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: rgb(31, 30, 30);
    font-family: "Staatliches", cursive;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    text-decoration-color: firebrick;
    font-size: 20px;
  }
  .nav-link:hover {
    color: firebrick;
    text-decoration-line: 1px solid white;
  }
  
  .active {
    color: firebrick !important;
  }
  .active:hover {
    color: whitesmoke;
  }
  
  .offcanvas {
    background-color: rgb(31, 30, 30);
    color: whitesmoke;
  }
  
  .navbar-toggler {
    margin-right: 1rem;
  }
  
  .offcanvas-title {
    font-size: 2rem;
  }
  
  .background-color {
    background-color: rgb(31, 30, 30);
  }
  
  .container-fluid {
    background-color: rgb(31, 30, 30);
    height: 100px;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    height: 100px;
    margin: 0;
    padding: 0;
  }
  
  .bg-body-tertiary {
    height: 100px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-expand-lg {
    height: 100px;
    margin: 0;
    padding: 0;
  }
  
  .fixed-top {
    height: 100px;
    margin: 0;
    padding: 0;
  }
  
  .logo {
    width: 60px;
    height: 60px;
    padding-left: 1rem;
  }
  
  .tituloNavbar {
    font-size: 40px;
    color: white;
    margin-left: 30px;
  }
  .tituloNavbar:hover {
    font-size: 55px;
    margin-left: 15px;
  }