@import "https://fonts.googleapis.com/css2?family=Roboto:wght@800&family=Staatliches&display=swap";

.CartItemDetails{
    background-color: rgb(220, 152, 152);
    border: 2px solid black;
    padding: 2%;
    max-width: 100%;
    align-items: center;
    justify-content:space-between;
    display: flex;
}

.CartDetails{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #000;
    font-size: 1rem;
    font-weight: 800;
    margin: auto;
    margin-left: 0;
    font-family: "Roboto", sans-serif;
}

.CartButton{
    width: fit-content;
    height: fit-content;
    color: rgba(45, 43, 43, 0.9215686275);
    text-decoration: none;
    background-color: whitesmoke;
    border: 1px solid rgba(45, 43, 43, 0.9215686275);
    border-radius: 5px;
    font-size: 1rem;

    &:hover {
        background-color: rgba(45, 43, 43, 0.9215686275);
        color: rgb(246, 207, 207);
        border: 1px solid rgb(246, 207, 207);
        text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;

    }

    &:disabled {
        color: black;
        background-color: rgba(45, 43, 43, 0.9215686275);
    }

    &:disabled:hover {
        background-color: rgba(45, 43, 43, 0.9215686275);
        color: black;
    }
}